In [1]:
import numpy as np
import pandas as pd
# import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegressionCV

In [2]:
try:
    train_data = pd.read_csv('/kaggle/input/titanic/train.csv')
    test_data = pd.read_csv('/kaggle/input/titanic/test.csv')
except FileNotFoundError:
    train_data = pd.read_csv('Data/train.csv')
    test_data = pd.read_csv('Data/test.csv')
train_data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [3]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [4]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.1+ KB

In [5]:
train_data = train_data.drop(['Name', 'Ticket', 'SibSp','Parch','Fare','Cabin'], axis=1)

In [6]:
train_data = train_data.dropna()

In [7]:
train_data.Embarked.unique()

array(['S', 'C', 'Q'], dtype=object)

In [8]:
train_data

     PassengerId  Survived  Pclass     Sex   Age Embarked
0              1         0       3    male  22.0        S
1              2         1       1  female  38.0        C
2              3         1       3  female  26.0        S
3              4         1       1  female  35.0        S
4              5         0       3    male  35.0        S
..           ...       ...     ...     ...   ...      ...
885          886         0       3  female  39.0        Q
886          887         0       2    male  27.0        S
887          888         1       1  female  19.0        S
889          890         1       1    male  26.0        C
890          891         0       3    male  32.0        Q

[712 rows x 6 columns]

In [ ]:
for col in train_data.columns:
    p = plt.figure()
    plt.hist(train_data[col])
    plt.title(col)
    p.show()

In [10]:
model = LogisticRegressionCV()

In [11]:
model.fit(train_data.drop(['Survived'], axis=1), train_data.Survived)

ValueError: could not convert string to float: 'male'

In [ ]:
model.predict(test_data.drop(['PassengerId'], axis=1))

In [ ]:
model.score(train_data.drop(['Survived'], axis=1), train_data.Survived)